<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <title>Login</title>
</head>

<body>
  <div style="text-align:center">
    <h3>Login</h3>
    <br> 
    <form id="login-form" name="login-form">
      <label for="email">Email</label>
      <input id="email" type="email" name="email"/>
      <br>
      <br>
      <label for="password">Password</label>
      <input id="password" type="password" name="password"/>
      <br> 
      <br>
      <input type="submit" value="Login" />
    </form>
    <br>
    <br>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="src/login.js"></script>
  </body>

  </html>
