<ng-include src="'js/home/views/navigation.html'"></ng-include>
<!-- Content Start  -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="content-area bg-white">
        <div class="row">
          <div class="col-md-9">
            <h1 class="bold">Who are we?</h1>
            <div class="internal-content">
              <p>Artists Unlimited is a group of young adults who work to tailor computer applications with the music industry. We seek to empower artists with tools and information to lower the barrier to entry in an industry that is traditionally hard on talented and creative individuals looking to freshly make their mark. With years of experience promoting and nurturing artists, we strive to enable every artist, big and small, from bedroom to commercial studio producers. We want to flatten the playing field in the music industry and allow music to speak for itself.</p>
              <p>For anyone involved in the music industry, it does not take long to recognize that the PR and A&R team of an artist play pivotal roles in the success of a brand and bringing recognition to content, whether that be a single, or a large body of work. One of the most difficult tasks in the publicity department is developing a reliable team in support of an artist, a group of savvy individuals who can deliver and make the artist heard on a wide variety of platforms. It means making sure social media profiles are buzzing with engagement, and ensuring an artist remains relevant in the public sphere. This is what we do best.</p>
              <p>At Artists Unlimited, we want artists to focus on music while we bring their music to the main stage.</p>
            </div>
          </div>
<!--            		 <div class="col-md-6">
             		 <img class="img-responsive" src="/assets/images/who-we-are.png"/>
                </div> -->
              </div>
            </div>
          </div>	
        </div>
      </div>				
      <!-- Content End  -->
