<ng-include src="'js/home/views/navigation.html'"></ng-include>
<!-- Content Start  -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="content-area bg-white">
        <div class="row">
       		<div class="col-md-4">
       		 	<h1 class="bold">Contact</h1>
       		 	<div class="internal-content">
       		 		<p>
	       		 		Any questions, concerns, or inquiries, send us a message!
							</p>
							<p class="address-content">
								<span class="address-line">Artists Unlimted, LLC</span>
                <span class="address-line"><a href="mailto:edward@peninsulamgmt.com">Edward Sanchez: edward@peninsulamgmt.com</a>  (General Inquiries)</span>
                <span class="address-line"><a href="mailto:kevin@peninsulamgmt.com"> Kevin Zimmermann: kevin@peninsulamgmt.com</a>  (General Inquiries)</span>
                <span class="address-line"><a href="mailto:christian@peninsulamgmt.com"> Christian Ayscue: coayscue@artistsunlimited.co.com</a>  (Technology)</span>
								<span class="address-line">4585 Ponce De Leon Blvd</span>
								<span class="address-line">Coral Gables, FL 33146, USA</span><br>   
							</p>
						</div>
       		</div>
        </div>
			</div>
		</div>	
	</div>
</div>				
<!-- Content End  -->
