<!--HOME : Start-->
<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div class="logo-contatainer">
          <div class="intro-logo"><a href="#"> <img class="front-logo" src="assets/images/logo-white.png" /></a> </div>
          <div class="intro-text">
            <h1>Artists<br/>Unlimited</h1>
          </div>
        </div>
        <a class="btn btn-default btn-start" href="#" ui-sref="login">Get Started</a>
      </div>
      <div class="col-md-4">
        <div class="intro-social"> </div>
      </div>
    </div>
  </div>
</section>
<!--HOME : End--> 