<ng-include src="'js/home/views/navigation.html'"></ng-include>
<!-- Content Start  -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="content-area bg-white">
        <div class="row">
         <div class="col-md-12">
           <h1 class="bold">Services</h1>
           <div class="internal-content">
            <div class="row">
              <div class="col-md-5">
                <h4 class="bold"><a href="#" ui-sref="submitSong">Repost Submission</a></h4>
                <p>Our mission is to simply bring the best music to the people. We are committed  to providing feedback and guidance for rising artists. We guarantee that we will listen to your song, and that it will be vetted and critiqued by our staff. Although we cannot guarantee support for your submission on our promotional platforms such as SoundCloud, YouTube, and Facebook, we will get back to you with our decision and input.</p>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-5">
                <h4 class="bold"><a href="#" ui-sref="premiere">Premiere Submission</a></h4>
                <p>If you are confident that your music has what it takes to be released to an audience of over 1M followers, with exposure to various record labels, talent agencies, and headliner DJs—you have our ear.</p>
              </div>                		 			
            </div>
            <div class="row margin-top-5">
             <div class="col-md-5">
              <h4 class="bold"><a href="#" ui-sref="prPlans">PR Plans</a></h4>
              <p>We offer more extensive PR plans for artists who want to be promoted heavily on Soundcloud, both within our own network as well as on our partner networks. We are in the process of extending the reach of our promotion to other platforms like HypeMachine and Spotify.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <h4 class="bold"><a href="#" ui-sref="mixingMastering">Mixing and Mastering</a></h4>
              <p> Mastering is the process of taking a recording and enhancing it sonically to its fullest potential. Mastering is the fine-tuning that makes your track sound as “big” and as “clear” as possible without compromising the original feel of the song. Mastering also gives a unified sound and sense of consistency across a track. When you send us your audio for mastering services, your tracks will be analyzed by an experienced mastering engineer in one of our acoustically treated studios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	
</div>
</div>				
<!-- Content End  -->
