<div class="search-suggestion">
  <input class="form-control" id="searchinput" type="text" placeholder="{{kind | capitalize}}" ng-model="searchString" ng-keypress="keypress($event)" style="{{customstyle}}" ng-change="directSearch()" onfocus='this.value = ""'/>
  <ul class="results" ng-show="searching || searchError || searchSelection.length > 0" >
    <li ng-repeat="item in searchSelection"><a href="javascript:void(0)" ng-click="selectedItem(item)">
      <div class="pull-left result-seach-img" ><img ng-if="item.artwork_url || item.avatar_url" src="{{item.artwork_url ? item.artwork_url : item.avatar_url}} "/></div> {{item.header}}<br>{{item.subheader}}</a>
    </li>
    <li ng-show="searching && !searchError && searchSelection.length==0"><a>One moment...</a></li>
    <li ng-show="!!searchError">{{searchError}}</li>
    <li ng-show="searchSelection.length > 0 && !searchError"><a>... or enter a Soundcloud URL</a></li>
  </ul>
  <a href="javascript:void(0)" class="url-search-btn-small" ng-click="sendSearch()">
    <img src="../assets/images/search.svg" alt="seach"><!-- <i class="glyphicon glyphicon-search"></i> --></a>
  </div>
  <div class="row" ng-show="showSearchPlayer">
    <div class="col-xs-12">
      <iframe id="searchPlayer" width="100%" height="5" src="https://w.soundcloud.com/player/?url=&auto_play=false&show_artwork=true" style="margin:10px 0; position:relative; z-index:-1; border:none;"></iframe>   
    </div>
  </div><!--row end-->

