<style>
.grey {
  background-color: #EEEEEE;
  color: #000000 !important;
}
</style>
<ng-include src="'js/home/views/_adminHeaderNavigation.html'"></ng-include>
<!-- Content Start  -->
<div id="wrapper">
  <ng-include src="'js/home/views/_adminNavigations.html'"></ng-include>
  <div class="container-fluid height-100pr">
    <div class="row">
      <div class="col-md-12">
        <div class="page-content right-side"><!--page-contant Start-->
          <adminsettings></adminsettings>
        </div>
        <div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,1); z-index: 1000;" ng-show="hideall">
        </div>
      </div><!--overlay-->
      <ng-include src="'js/home/views/loader.html'"></ng-include>
    </div>
  </div>
</div>
<script type="text/javascript">
$("#uploadImage").change(function() {
  setTimeout(function(){
    angular.element('#uploadImage').scope().updateLOGOIMAGE(1);  
  },500);  
});
</script>
