.idea
node_modules
npm-debug.log
.DS_Store
coverage
nbproject/project.properties

nbproject/project.xml

public/main.js
public/style.css

query.csv
email.html

nbproject/private/private.xml

nbproject/private/private.properties
