<ng-include src="'js/artistTools/ArtistTools/header-navigation.html'"></ng-include>
<div ng-show="showEmailModal" >
  <div class="modal fade" id="emailModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-vertical-centered">    
      <!-- Modal content-->
      <div class="modal-content" style="max-width:300px; margin:0 auto;">
        <div style="padding:15px;">        
          <p>Sign up!</p>
          <form ng-submit="updateEmail(modal.email)">
            <input class="form-control" placeholder="Email address" style="text-align:left; width:100% margin:10px 0; border-radius:5px;" type="email" ng-model="modal.email" />
            <div style="width:49%; text-align:left; display:inline-block; margin-top:15px;">
              <button class="btn btn-pink" type="submit" id="closeModal" style="margin-bottom:0;">
                SIGN UP</button>
              </div>
              <div style="width:49%; text-align:right; display:inline-block; margin-top:15px;">
                <button class="btn btn-border"  ng-click="closeModal()" style="margin-bottom:0;">CLOSE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Start  -->
  <div class="container" ng-init="checkIfSubmission()">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-area bg-white">
          <div class="row">
            <div class="col-sm-12">
              <div class="internal-content">
                <br/>
                <div class="col-sm-6 col-sm-offset-3">
                 <div class="text-center">
                  <button class="btn btn-pink btn-enter cl-sound-btn" ng-click="soundcloudLogin()">Connect with SoundCloud</button>
                  </div>
                  <!--Third party login-->
    <!--          <div class="text-center">
                    <h3>Third Party Login</h3>
                    <form role="form" ng-submit="thirdPartyLogin(thirdParty)">
                      <div class="internal-content" style="padding-left:30px;padding-right:30px;">    
                        <div class="form-group col-md-12">
                          <input class="form-control" type="text" placeholder="Username" ng-model="thirdParty.username" required/>
                        </div>
                        <div class="form-group col-md-12">
                          <input class="form-control" type="password" placeholder="Password" ng-model="thirdParty.password" required/>
                        </div>                    
                        <div class="form-group col-md-12">                  
                          <button class="btn btn-default btn-lg btn-enter" type="submit">Login</button>
                        </div>
                      </div>
                    </form>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="artist-login">
                <h3 class="text-left" style="font-weight:bold;">PRIVACY POLICY:</h3>
                <p class="text-left" style="font-size: 1.2em">You have full control of the Soundcloud, Facebook, Twitter, YouTube and Instagram activity created on your account through Artists Unlimited's artist tools. We will never do anything without your authorization. It is up to you to read our instructions and use our artist tools to benefit and increase the reach of your media across the web.</p>
                <h3 class="text-left" style="font-weight:bold;">DOWNLOAD GATEWAY:</h3>
                <p class="text-left" style="font-size: 1.2em">As an artist, your sound will reel in your audience. A download gateway for your free music allows you to keep your fans once you've already reeled them in. We offer download gateway functionality for Youtube, Spotify, SoundCloud, Facebook, and Twitter. This means you will be able to use the audience your music reels in to fuel growth on any of these platforms.</p>
                <h3 class="text-left" style="font-weight:bold;">REPOST FOR REPOST:</h3>
                <p class="text-left" style="font-size: 1.2em">A crucial element of an artists career is A&R / PR. Our repost for repost system allows artists to easily help one another get heard. Become the best PR rep for your content online.</p>
                <h3 class="text-left" style="font-weight:bold;">SOCIAL MEDIA ANALYTICS:</h3>
                <p class="text-left" style="font-size: 1.2em">Easily track your growth and engagement on all social media platforms such as Facebook, Youtube, Spotify, Instagram, Soundcloud, and Twitter. Compare your performance this week with last weeks performance.</p>
                <h3 class="text-left" style="font-weight:bold;">ONLINE PRESENCE MANAGER:</h3>
                <p class="text-left" style="font-size: 1.2em">Manage your online footprint in 1 easy to use interface. Plan posts on Facebook, Instagram, Youtube, SoundCloud, and Twitter for release days to make sure you never skip a beat.</p>
              </div>
            </div>
          <div class="col-sm-10 col-sm-offset-1">
           <span class="text-center">
             <p style="font-size: 0.8em; margin-top:30px;">Disclaimer: Artists Unlimited is made to provide tools with which users can use to their liking. Artist Unlimited will never take action on behalf of your account without your approval. We will never repost, message, post or like anything on your behalf.</p>
           </span>
         </div>
       </div><!--Row End> -->
     </div>
    </div>  
  </div>
</div>        
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>
<!--email overlay-->
