<style type="text/css">
.disabled {
  opacity: 1.5;
  pointer-events: none;
}
</style>
<div class=" ">
  <div class="settings-tabs-5">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active" style='border-radius:10px 0 0 0;'>
        <a href="#generalInfo" aria-controls="generalInfo" role="tab" data-toggle="tab" ng-click="showTab();" style="padding-top: 18px; border-radius:10px 0 0 0;">General Info</a>
      </li>
      <li role="presentation" ng-class="{active : activeTab.indexOf('sce') > -1 && currentTab == 'sce', disabled:activeTab.indexOf('sce') == -1}">
        <a href="#sce" aria-controls="sce" role="tab" data-toggle="tab" ng-click="showTab();">Repost Submissions Customize E-mails</a>
      </li>
      <!--       <li role="presentation" ng-class="{active : activeTab.indexOf('psce') > -1 && currentTab == 'psce',disabled:activeTab.indexOf('psce') == -1}">
        <a href="#psce" aria-controls="psce" role="tab" data-toggle="tab" ng-click="showTab();">Premiere Submissions Customize E-mails</a>
      </li> -->
      <li role="presentation" ng-class="{active : activeTab.indexOf('notifications') > -1 && currentTab == 'notifications', disabled:activeTab.indexOf('notifications') == -1}">
        <a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab" ng-click="showTab();" style="padding-top: 18px">Notification Settings</a>
      </li>
      <li role="presentation" style='border-radius:0 10px 0 0;' ng-class="{active : activeTab.indexOf('paypalInfo') > -1 && currentTab == 'paypalInfo',disabled:activeTab.indexOf('paypalInfo') == -1}">
        <a href="#paypalInfo" aria-controls="paypalInfo" role="tab" data-toggle="tab" ng-click="showTab();" style="padding-top: 18px; border-radius:0 10px 0 0;">PayPal Info</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="generalInfo">
        <div class="container-90">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h5 class="margin-40">Set up your basic info</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="container-60 center">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" style="">
                      <input class="form-control  margin-20" type="text" ng-model="AccountsStepData.email" placeholder="Email address">
                    </div>
                    <button ng-click="showPasswordChange=true" class="btn btn-border" style="margin:0 auto;" ng-show="!showPasswordChange">Change Password</button>
                    <div ng-show="showPasswordChange">
                      <div class="form-group" style="">
                        <input class="form-control margin-40" type="password" ng-model="AccountsStepData.newpassword" placeholder="Password">
                      </div>
                      <div class="form-group" style="">
                        <input class="form-control" type="password" ng-model="AccountsStepData.newconfirmpassword" placeholder="Confirm Password">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <br />
                    <div class="text-right">
                      <img id="profilePicture" ng-if="!AccountsStepData.profilePictureData" src="{{AccountsStepData.profilePicture}}" class="img-responsive" alt="{{AccountsStepData.name}}" style="height: 240px;width:100%;">
                      <img id="profilePicture" class="img-responsive" ng-if="AccountsStepData.profilePictureData" src="{{AccountsStepData.profilePictureData}}" alt="{{AccountsStepData.name}}" style="height: 240px;width:100%;">
                      <div>
                        <input type="file" id="uploadImage" file-input="AccountsStepData.profilePicture" name="uploadImage" value="Browse Image" style=" bottom: 60px;position: relative;width:80px; margin:0 auto;">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <!--row end-->
              </div>
            </div>
          </div>
          <!--row end-->
          <br>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="buttons margin-40">
                <input type="button" name="SAVE" value="SAVE" ng-click="nextStep(2,AccountsStepData,'basic')" class="btn btn-pink b-radius-10 border-orange-btn">
              </div>
            </div>
          </div>
          <!--row end-->
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="sce">
        <div class="container-90">
          <div class="space-20"></div>
          <h4 class="text-center">Here you are able to edit the repost submissions accept and decline emails that are sent to your clients. We recommend being as personalized as possible so your clients get to know the vibe of your company, network, or brand!</h4>
          <div class="row" ng-repeat="custom in AccountsStepData.repostCustomizeEmails track by $index">
            <div class="col-md-6 text-center">
              <div class="container-90">
                <h6 class="text-center" ng-show="!$index">{{custom.acceptance.title}}</h6>
                <input ng-show="$index" class="acceptance-signatur" type="text" ng-model="custom.acceptance.title" placeholder="Title" style="margin-left:0px">
                <div class="acceptance">
                  <div class="channel-check">
                    <div class="channel-masege" style="overflow:hidden;">
                      <input type="text" ng-model="custom.acceptance.subject" placeholder="Subject" class="acceptance-input repAcceptSubject{{$index}}" ng-click="addEventClass($index,'repAcceptSubject');" index="{{$index}}">
                    </div>
                    <!-- <div  style="height:150px; overflow:hidden"> -->
                    <textarea ng-model="custom.acceptance.body" index="{{$index}}" ng-click="addEventClass($index,'repAcceptbox');" style="padding:5px 5px;height:150px" class="acceptance-textareas repAcceptbox{{$index}} check-list"></textarea>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="space-10"></div>
                <button class="btn btn-default" ng-click="sendTestMail('repostaccept')">Send Test Email</button>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="container-90">
                <h6 class="text-center" ng-show="!$index">{{custom.decline.title}}</h6>
                <input ng-show="$index" class="acceptance-signatur" type="text" ng-model="custom.decline.title" placeholder="Title" style="margin-left:0px">
                <div class="acceptance">
                  <div class="channel-check">
                    <div class="channel-masege" style="overflow:hidden;">
                      <input type="text" placeholder="Subject" ng-model="custom.decline.subject" class="acceptance-input repDeclineSubject{{$index}}" ng-click="addEventClass($index,'repDeclineSubject');" index="{{$index}}">
                    </div>
                    <textarea ng-model="custom.decline.body" index="{{$index}}" ng-click="addEventClass($index,'repDeclinebox');" style="padding:5px 5px;height:150px" class="acceptance-textareas repDeclinebox{{$index}} check-list">
                    </textarea>
                  </div>
                </div>
              </div>
              <div class="space-10"></div>
              <button class="btn btn-default" ng-click="sendTestMail('repostdecline')">Send Test Email</button>
            </div>
          </div>
          <div class="">
            <div class="col-md-12">
              <div class="button-list text-center">
                <input ng-repeat="btn in stepButton " type="button" name="{{btn.name}}" class="btn btn-border b-radius-10 organize-btn" style="margin-left:5px;" value="{{btn.name}}" ng-click="appendBody(btn, 'repost')">
              </div>
            </div>
          </div>
          <!--row-->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="buttons margin-40">
                <input type="button" name="SAVE" value="SAVE" ng-click="nextStep(3,AccountsStepData,'basic')" class="btn btn-pink b-radius-10 border-orange-btn">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="psce">
        <div class="container-90">
          <div class="space-20"></div>
          <h4 class="text-center">Here you are able to edit the premiere submissions accept and decline emails that are sent to your clients. We recommend being as personalized as possible so your clients get to know the vibe of your company, network, or brand!</h4>
          <div class="row" ng-repeat="custom in AccountsStepData.premierCustomizeEmails track by $index">
            <div class="col-md-6 text-center">
              <div class="container-90">
                <h6 class="text-center" ng-show="!$index">{{custom.acceptance.title}}</h6>
                <input ng-show="$index" class="acceptance-signatur" type="text" ng-model="custom.acceptance.title" placeholder="Title" style="margin-left:0px">
                <div class="acceptance">
                  <div class="channel-check">
                    <div class="channel-masege">
                      <input type="text" ng-model="custom.acceptance.subject" placeholder="Subject" class="acceptance-input premAcceptSubject{{$index}}" ng-click="addEventClass($index,'premAcceptSubject');" index="{{$index}}">
                    </div>
                    <div class="check-list" style="height:140px;">
                      <textarea ng-model="custom.acceptance.body" class="acceptance-textareas premAcceptbox{{$index}}" ng-click="addEventClass($index,'premAcceptbox');" index="{{$index}}" style="height:100%"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="space-10"></div>
              <button class="btn btn-default" ng-click="sendTestMail('premieraccept')">Send Test Email</button>
            </div>
            <div class="col-md-6 text-center">
              <div class="container-90">
                <h6 class="text-center" ng-show="!$index">{{custom.decline.title}}</h6>
                <input ng-show="$index" class="acceptance-signatur" type="text" ng-model="custom.decline.title" placeholder="Title" style="margin-left:0px">
                <div class="acceptance">
                  <div class="channel-check">
                    <div class="channel-masege">
                      <input type="text" placeholder="Subject" ng-model="custom.decline.subject" class="acceptance-input premDeclineSubject{{$index}}" ng-click="addEventClass($index,'premDeclineSubject');" index="{{$index}}">
                    </div>
                    <div class="check-list" style="height:140px;">
                      <textarea ng-model="custom.decline.body" index="{{$index}}" ng-click="addEventClass($index,'declinebox');" class="acceptance-textareas premDeclinebox{{$index}}" ng-click="addEventClass($index,'premDeclinebox');" index="{{$index}}" style="height:100%">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="space-10"></div>
              <button class="btn btn-default" ng-click="sendTestMail('premierdecline')">Send Test Email</button>
            </div>
          </div>
          <div class="">
            <div class="col-md-12">
              <div class="button-list text-center">
                <input ng-repeat="btn in stepButton " type="button" name="{{btn.name}}" class="btn btn-border b-radius-10 organize-btn" style="margin-left:5px;" value="{{btn.name}}" ng-click="appendBody(btn, 'premier')">
              </div>
            </div>
          </div>
          <!--row-->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="buttons margin-40">
                <input type="button" name="SAVE" value="SAVE" ng-click="nextStep(4,AccountsStepData,'basic')" class="btn btn-pink b-radius-10 border-orange-btn">
              </div>
            </div>
          </div>
          <!--row ::end-->
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="notifications">
        <div class="container-90">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="space-10"></div>
              <h4 class="bold">Notification Settings</h4>
            </div>
          </div>
          <div class="row margin-20">
            <div class="col-md-8 col-md-offset-2">
              <div style="text-align: left;">
                <div class="row">
                  <div class="row fb-notifications-check-list">
                    <div class="col-md-6">
                      <h5 class="bold">Facebook Messenger Notifications</h5>
                      <div class="fb-send-to-messenger" messenger_app_id="1771378846475599" page_id="499383536933941" color="blue" size="large" data-ref="{{AccountsStepData._id}}">
                      </div>
                      <span ng-if="!!AccountsStepData.notificationSettings.facebookMessenger.messengerID">Linked &#10004</span>
                      <br />
                      <br />
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.facebookMessenger.tradeRequest">
                        <span>Trade Request</span>
                      </label>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.facebookMessenger.tradeAcceptance">
                        <span>Trade Acceptance</span>
                      </label>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.facebookMessenger.trackRepost">
                        <span>Track Repost</span>
                      </label>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.facebookMessenger.trackUnrepost">
                        <span>Track Unrepost</span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <h5 class="bold">Email Notifications</h5>
                      <input class="form-control" type="text" ng-model="AccountsStepData.email" style="width:250px">
                      <br>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.email.tradeRequest">
                        <span>Trade Request</span>
                      </label>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.email.tradeAcceptance">
                        <span>Trade Acceptance</span>
                      </label>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.email.trackRepost">
                        <span>Track Repost</span>
                      </label>
                      <label class="with-square-checkbox">
                        <input type="checkbox" ng-model="AccountsStepData.notificationSettings.email.trackUnrepost">
                        <span>Track Unrepost</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="buttons margin-40">
                <input type="button" name="SAVE" value="SAVE" ng-click="nextStep(5,AccountsStepData,'basic')" class="btn btn-pink b-radius-10">
              </div>
            </div>
          </div>
        </div>
        <!-- MY SCHEDULE : End-->
        <div class="clearfix"></div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="paypalInfo">
        <div class="container-40">
          <div class="row">
            <div class="col-md-12 text-center">
              <br />
              <div class="form-group" style="">
                <input class="form-control" type="email" ng-model="AccountsStepData.paypal_email" placeholder="Email address">
                <br/>
                <div ng-show="waitoneminute" style="color:#000;">We are sending you 2 trial payments to your PayPal account. Please allow up to one minute for the ammounts to be deposited.</div>
              </div>
              <div ng-show="AccountsStepData.paypal.varify">
                <div class="form-group">
                  <label>Payment Amount 1:&nbsp;&nbsp;$</label>
                  <input style="text-align:left" ng-model="AccountsStepData.paypal.pricea" class="price-input" type="text">
                </div>
                <div class="form-group">
                  <label>Payment Amount 2:&nbsp;&nbsp;$</label>
                  <input style="text-align:left" ng-model="AccountsStepData.paypal.priceb" class="price-input" type="text">
                </div>
                </br />
                <button class="btn btn-pink b-radius-10" ng-disabled="!AccountsStepData.paypal.pricea || !AccountsStepData.paypal.priceb" style="margin-left: 18px;" type="button" ng-click="varifyaccount()">Verify Account</button>
              </div>
              <div class="form-group" ng-show="!AccountsStepData.paypal.varify">
                <button class="btn btn-pink b-radius-10" ng-disabled="!AccountsStepData.paypal_email" style="margin-left: 18px;" ng-click="sendTrailAmount()">Send Trial Amount</button>
              </div>
              <div class="clearfix"></div>
              <div ng-show="verified" style="color:green;">Account verified.</div>
              <div ng-show="errorverification" style="color:red;">Could not verify account</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--overlay-->
<div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,0.85); text-align:center;" ng-show="showTestEmailModal">
  <div class="modal fade" id="emailModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-vertical-centered">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="text-align:center; padding:10px;">
          <div style="text-align:center;padding-bottom:10px;">
            <form ng-submit="sendMail(modal.email)">
              <input class="form-control form-scheduler" placeholder="Enter email address" style="text-align:center; width:300px; max-width:90%;" type="email" ng-model="modal.email" required/>
              <button class="btn btn-default" ng-click="closeModal()">Close</button>
              <button class="btn btn-default btn-small" type="submit">Send Mail</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
setTimeout(function() {
  FB.init({
    appId: "1771378846475599",
    xfbml: true,
    version: "v2.6"
  });
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
}, 500);
</script>
<script type="text/javascript">
$("#uploadImage").change(function() {
  setTimeout(function() {
    angular.element('#uploadImage').scope().updateLOGOIMAGE();
  }, 500);
});
</script>
