<style>
  .grey {
   background-color:#EEEEEE;
   color:#000000 !important;
 }
 body {
  background-color:white !important;
  background-image: none;
}
#backgroundImage1 {
  background-size: cover;
  display: block;
  float: right;
  top:-40px;
  left: -40px;
  position: absolute;
  right: -40px;
  bottom: -40px;
  z-index: 1;
}
#rightpremierTemplate::-webkit-scrollbar { 
  display: none; 
}
#rightpremierTemplate{
  position: relative;
  margin: 20px;  
  z-index: 2;
  padding: 0 10px;
  overflow-y:scroll; 
  overflow-x:hidden; 
  height:100%;
}
.submi-section{
 padding-bottom:60px;
}
.custom-settings {
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0;
 height: 100%;
 bottom: 0;
 width: 100%;
 background-color:white !important; 
 text-align:center; 
 height:100%; 
 overflow:hidden;
}
</style>
<div class="custom-settings">
  <div id="backgroundImage1" style="background-size:cover;background-image:url({{customizeSettings.background.images}}); filter: blur({{customizeSettings.background.blur}}px);-webkit-filter: blur({{customizeSettings.background.blur}}px);">
  </div>
  <div class="col-md-2" style="height:5px;"></div>
  <!-- template 1 -->
  <div id="rightpremierTemplate" class="col-md-8" ng-if='customizeSettings.layout == 1'>
    <p class="text-center" style="color:{{customizeSettings.heading.style.fontColor}};
    font-weight:{{customizeSettings.heading.style.fontWeight}};
    font-family:{{customizeSettings.heading.style.fontFamily}};
    font-size:{{customizeSettings.heading.style.fontSize}}px">{{customizeSettings.heading.text}}</p>
    <div class="internal-content">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center" style="color:{{customizeSettings.subHeading.style.fontColor}};
          font-size:{{customizeSettings.subHeading.style.fontSize}}px; 
          font-family:{{customizeSettings.subHeading.style.fontFamily}}; 
          font-weight:{{customizeSettings.subHeading.style.fontWeight}}" ng-bind-html="customizeSettings.subHeading.text"></p>
        </div>
        <div class="col-md-12">
          <img class="text-center" style="width:80%; max-width:200px; margin:20px auto; margin-bottom:40px;" ng-if="customizeSettings.logo.images" id="templatepremierLogo" src="{{customizeSettings.logo.images}}">
        </div>
        <div class="col-md-12">
          <form role="form" ng-submit="savePremier()">
            <div class="row">
              <div  style="max-width:350px; width:80%; margin: 0 auto;">
                <input class="form-control" type="file" accept="All" fileread="premierObj.file" message="message" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
              </div>
            </div>
            <br>
            <div class="row">
              <div  style="max-width:350px; width:80%; margin: 0 auto;">
                <input type="text" placeholder="Link to track" ng-model="premierObj.trackLink" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
              </div>
            </div>
            <br>
            <div class="row">
              <div  style="max-width:350px; width:80%; margin: 0 auto;">
                <textarea class="form-control" placeholder="Comment" ng-model="premierObj.comment" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div  style="max-width:350px; width:80%; margin: 0 auto;">
                <input type="text" placeholder="Name" ng-model="premierObj.name" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
              </div>
            </div>
            <br>
            <div class="row">
              <div  style="max-width:350px; width:80%; margin: 0 auto;">
                <input type="email" placeholder="Email" ng-model="premierObj.email" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
              </div>
            </div>
            <br>
            <div class="text-center">
              <button class="btn btn-default" style="color:{{customizeSettings.button.style.fontColor}}; 
              font-size:{{customizeSettings.button.style.fontSize}}px; 
              background-color:{{customizeSettings.button.style.bgColor}}; border:solid {{customizeSettings.inputFields.style.borderColor}} {{customizeSettings.button.style.border}}px; border-radius:{{customizeSettings.button.style.borderRadius}}px;">{{customizeSettings.button.text}}</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- template 2 -->
  <div id="rightpremierTemplate" class="col-md-8" style="overflow-y:scroll; height:100%" ng-if='customizeSettings.layout == 2'>
    <p class="text-center" style="color:{{customizeSettings.heading.style.fontColor}};
    font-weight:{{customizeSettings.heading.style.fontWeight}};
    font-family:{{customizeSettings.heading.style.fontFamily}};
    font-size:{{customizeSettings.heading.style.fontSize}}px">{{customizeSettings.heading.text}}</p>
    <div class="internal-content">
      <div class="row">
        <div class='col-md-6 text-center' style="margin-top:20px;">
          <div class="col-md-12">
            <p style="color:{{customizeSettings.subHeading.style.fontColor}};
            font-size:{{customizeSettings.subHeading.style.fontSize}}px; 
            font-family:{{customizeSettings.subHeading.style.fontFamily}}; 
            font-weight:{{customizeSettings.subHeading.style.fontWeight}}; width:90%; max-width:350px; margin:0 auto; text-align:left;" ng-bind-html="customizeSettings.subHeading.text"></p>
          </div>
          <div class="col-md-12" style="margin-top:20px;">
            <form role="form" ng-submit="savePremier()">
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input class="form-control" type="file" accept="All" fileread="premierObj.file" message="message" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="text" placeholder="Link to track" ng-model="premierObj.trackLink" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <textarea class="form-control" placeholder="Comment" ng-model="premierObj.comment" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}"></textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="text" placeholder="Name" ng-model="premierObj.name" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="email" placeholder="Email" ng-model="premierObj.email" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button class="btn btn-default" style="color:{{customizeSettings.button.style.fontColor}}; 
                font-size:{{customizeSettings.button.style.fontSize}}px; 
                background-color:{{customizeSettings.button.style.bgColor}}; border:solid {{customizeSettings.inputFields.style.borderColor}} {{customizeSettings.button.style.border}}px; border-radius:{{customizeSettings.button.style.borderRadius}}px;">{{customizeSettings.button.text}}</button>
              </div>
            </form>
            <br>
          </div>  
        </div>
        <div class="col-md-6" style="vertical-align:center;">
          <div class="col-md-12">
            <img class="text-center" style="width:90%; max-width:350px; margin:20px auto; margin-top:10px;" ng-if="customizeSettings.logo.images" id="templatepremierLogo" src="{{customizeSettings.logo.images}}">
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- template 3 -->
  <div id="rightpremierTemplate" class="col-md-8" style="overflow-y:scroll; height:100%" ng-if='customizeSettings.layout == 3'>
    <p class="text-center" style="color:{{customizeSettings.heading.style.fontColor}};
    font-weight:{{customizeSettings.heading.style.fontWeight}};
    font-family:{{customizeSettings.heading.style.fontFamily}};
    font-size:{{customizeSettings.heading.style.fontSize}}px">{{customizeSettings.heading.text}}</p>
    <div class="internal-content">
      <div class="row">
        <div class='col-md-12 text-center' style="margin-top:20px;">
          <div class="col-md-12">
            <p class="text-center" style="color:{{customizeSettings.subHeading.style.fontColor}};
            font-size:{{customizeSettings.subHeading.style.fontSize}}px; 
            font-family:{{customizeSettings.subHeading.style.fontFamily}}; 
            font-weight:{{customizeSettings.subHeading.style.fontWeight}}" ng-bind-html="customizeSettings.subHeading.text"></p>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:40px;">
          <div class="col-md-6 text-center" style="margin-bottom:40px;">
            <img class="text-center" style="width:80%; max-width:350px; margin: 0 auto;" ng-if="customizeSettings.logo.images" id="templatepremierLogo" src="{{customizeSettings.logo.images}}">
          </div>
          <div class="col-md-6">
            <form role="form" ng-submit="savePremier()">
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input class="form-control" type="file" accept="All" fileread="premierObj.file" message="message" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="text" placeholder="Link to track" ng-model="premierObj.trackLink" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <textarea class="form-control" placeholder="Comment" ng-model="premierObj.comment" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}"></textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="text" placeholder="Name" ng-model="premierObj.name" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="email" placeholder="Email" ng-model="premierObj.email" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button class="btn btn-default" style="color:{{customizeSettings.button.style.fontColor}}; 
                font-size:{{customizeSettings.button.style.fontSize}}px; 
                background-color:{{customizeSettings.button.style.bgColor}}; border:solid {{customizeSettings.inputFields.style.borderColor}} {{customizeSettings.button.style.border}}px; border-radius:{{customizeSettings.button.style.borderRadius}}px;">{{customizeSettings.button.text}}</button>
              </div>
            </form>
            <br>
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- template 4 -->
  <div id="rightpremierTemplate" class="col-md-8" style="overflow-y:scroll; height:100%" ng-if='customizeSettings.layout == 4'>
    <p class="text-center" style="color:{{customizeSettings.heading.style.fontColor}};
    font-weight:{{customizeSettings.heading.style.fontWeight}};
    font-family:{{customizeSettings.heading.style.fontFamily}};
    font-size:{{customizeSettings.heading.style.fontSize}}px">{{customizeSettings.heading.text}}</p>
    <div class="internal-content">
      <div class="row">
        <div class='col-md-12 text-center' style="margin-top:20px; border-top:1px solid black; border-bottom:1px solid black;">
          <div class="row">
            <div class="col-md-3 vcenter">
              <img class="text-center" style="width:80%; max-width:350px; margin:20px auto;" ng-if="customizeSettings.logo.images" id="templatepremierLogo" src="{{customizeSettings.logo.images}}">
            </div>
            <div class="col-md-8 vcenter">
              <p class="text-center" style="color:{{customizeSettings.subHeading.style.fontColor}};
              font-size:{{customizeSettings.subHeading.style.fontSize}}px; 
              font-family:{{customizeSettings.subHeading.style.fontFamily}}; 
              font-weight:{{customizeSettings.subHeading.style.fontWeight}}; text-align:left; margin:10px auto;" ng-bind-html="customizeSettings.subHeading.text"></p>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:40px;">
          <div class="col-md-12">
            <form role="form" ng-submit="savePremier()">
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input class="form-control" type="file" accept="All" fileread="premierObj.file" message="message" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="text" placeholder="Link to track" ng-model="premierObj.trackLink" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <textarea class="form-control" placeholder="Comment" ng-model="premierObj.comment" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}"></textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="text" placeholder="Name" ng-model="premierObj.name" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px; border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
                </div>
              </div>
              <br>
              <div class="row">
                <div  style="max-width:350px; width:80%; margin: 0 auto;">
                  <input type="email" placeholder="Email" ng-model="premierObj.email" style="width:100%; height:34px; padding:5px; border:solid {{customizeSettings.inputFields.style.border}}px; border-radius:{{customizeSettings.inputFields.style.borderRadius}}px;border-color:{{customizeSettings.inputFields.style.borderColor}}" required/>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button class="btn btn-default" style="color:{{customizeSettings.button.style.fontColor}}; 
                font-size:{{customizeSettings.button.style.fontSize}}px; 
                background-color:{{customizeSettings.button.style.bgColor}}; border:solid {{customizeSettings.inputFields.style.borderColor}} {{customizeSettings.button.style.border}}px; border-radius:{{customizeSettings.button.style.borderRadius}}px;">{{customizeSettings.button.text}}</button>
              </div>
            </form>
            <br>
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>
<ng-include src="'js/home/views/loader.html'"></ng-include>