<ng-include src="'js/artistTools/ArtistTools/header-navigation.html'"></ng-include>
<div id="wrapper">
  <ng-include src="'js/artistTools/ArtistTools/navigation.html'"></ng-include>
  <div class="container-fluid height-100pr" ng-init="checkIfEdit();">
    <div class="row height-100pr">
      <div class="col-lg-12 height-100pr">
        <div class="page-content right-side min-ht">
          <!--page-contant Start-->
          <div class="row nav-tabs margin0">
            <div class="col-md-12">
              <form role="form" novalidate name="postForm" ng-submit="savePost()">
                <br/><br/><br/>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="postData.postTitle" placeholder="Post Title" />
                    </div>
                  </div>                  
                </div>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                      <div class='input-group date' id='datetimepicker2'>
                        <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="postData.postDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" placeholder="Post Date" />
                        <span class="input-group-btn">
                          <button 
                          type="button" 
                          class="btn btn-default" 
                          ng-click="open1()">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>                  
              </div>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#pnlSoundCloud" onclick="return false;">Sound Cloud <span class="glyphicon glyphicon-minus pull-right"></span></a>                            
                        </h4>
                      </div>
                      <div id="pnlSoundCloud" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <input class="form-control" type="file" file-input="audio.file" name="audioFile" placeholder="Audio File" />
                            </div>
                          </div> 
                          <div class="row margin-bottom-10" ng-show="postData.awsAudioKeyName != '' && postData._id">
                            <div class="col-md-12">
                              <a href="https://s3-us-west-1.amazonaws.com/releaserposts/{{postData.awsAudioKeyName}}" target="_blank">https://s3-us-west-1.amazonaws.com/releaserposts/{{postData.awsAudioKeyName}}</a>
                            </div>
                          </div> 
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <input type="text" ng-model="postData.soundCloudTitle" class="form-control" name="SCtitle" placeholder="SoundCloud Track Title">
                            </div>
                          </div>
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <textarea type="text" ng-model="postData.soundCloudDescription" class="form-control" placeholder="SoundCloud Track Description"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" data-target="#pnlFacebook">Facebook <span class="glyphicon glyphicon-plus pull-right"></span></a>
                        </h4>
                      </div>
                      <div id="pnlFacebook" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <textarea ng-model="postData.facebookPost" class="form-control" name="fbUserCmt" placeholder="Facebook Comment"></textarea>
                            </div>
                          </div>
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <label class="radio-inline">
                                <input type="radio" name="commentOn" ng-model="facebookCommentOn" value="page" ng-checked="pagecomment">Facebook Page Comment
                              </label>
                              <label class="radio-inline">
                                <input type="radio" name="commentOn" ng-model="facebookCommentOn" value="user" checked>Facebook User Comment
                              </label>
                              <br><br>
                              <input type="text" name="facebookPageUrl" ng-if="facebookCommentOn=='page'" class="form-control" placeholder="Please provide page url" ng-model="postData.facebookPageUrl">
                              <!-- <textarea ng-model="postData.facebookPagePost" class="form-control" name="fbPageCmt" placeholder="Facebook Page Comment"></textarea> -->
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" data-target="#pnlTwitter">Twitter <span class="glyphicon glyphicon-plus pull-right"></span></a>
                        </h4>
                      </div>
                      <div id="pnlTwitter" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <textarea ng-model="postData.twitterPost" class="form-control" ng-maxlength="140" name="twitterCmt" placeholder="Twitter Comment"></textarea>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" data-target="#pnlYoutube">Youtube <span class="glyphicon glyphicon-plus pull-right"></span></a>
                        </h4>
                      </div>
                      <div id="pnlYoutube" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <input class="form-control" type="file" file-input="video.file" name="videoFile" placeholder="Video File"/>
                            </div>
                            <br>
                          </div>
                          <div class="row margin-bottom-10" ng-show="postData.awsVideoKeyName != '' && postData._id">
                            <div class="col-md-12">
                              <a href="https://s3-us-west-1.amazonaws.com/releaserposts/{{postData.awsVideoKeyName}}" target="_blank">https://s3-us-west-1.amazonaws.com/releaserposts/{{postData.awsVideoKeyName}}</a>
                            </div>
                          </div>
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                              <input type="text" ng-model="postData.youTubeTitle" class="form-control" name="YTtitle" placeholder="YouTube Video Title">
                            </div>
                            <br>
                          </div>
                          <div class="row margin-bottom-10">
                            <div class="col-md-12">
                             <textarea type="text" ng-model="postData.youTubeDescription" class="form-control" placeholder="YouTube Video Description"></textarea>
                           </div>
                           <br>
                         </div>
                       </div>
                     </div>
                   </div>
                   <!--Instagram start-->
                       <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">Instagram</a>
                          </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row margin-bottom-10">
                              <div class="col-md-12">
                              <input class="form-control" type="file" file-input="image.file" name="imageFile" placeholder="Upload image"/>
                              </div>
                              <br>
                            </div>
                            <div class="row margin-bottom-10">
                              <div class="col-md-12">
                              <input type="text" ng-model="postData.instagramPost" class="form-control" name="instaPost" placeholder="Instagram Post">
                              </div>
                              <br>
                            </div>             
                          </div>
                        </div>
                      </div> -->
                      <!--Instagram start-->
                    </div>
                  </div>
                </div>    
                <div class="text-center">
                  <button type="submit" class="btn btn-enter btn-default">Save Post</button>
                </div>
                <br>
                <br>
              </div>
            </form>
          </div>
          <!--row end-->
        </div>
        <!--page-contant End-->
      </div>
    </div>
  </div>
</div>
</div>
<ng-include src="'js/home/views/loader.html'"></ng-include>
<script>
  $(document).ready(function(){
    $('.collapse').collapse({
      toggle: false
    })
    $('.collapse').on('shown.bs.collapse', function(){
      $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function(){
      $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
  });
</script>