<ng-include src="'js/home/views/navigation.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-area bg-white">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center bold">PR Campaigns</h1>
            <br>
            <div>
              <p><span>Artists Unlimited works closely with artists to engineer PR campaigns around their upcoming releases. We work across  all major music streaming services including Soundcloud, YouTube, Spotify, and iTunes, as well as reach out to a variety of blogs, both those established on Hype Machine and otherwise. We have three available plans, though we remain flexible and open to tailoring our campaigns to the individual needs of the artist.</span></p>
            </div>
            <br>
            <form role="form" ng-submit="savePrPlan()">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input class="form-control" type="file" fileread="prPlans.file" message="message" required/>
                </div>
              </div> 
              <br>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input class="form-control" type="number" placeholder="Budget" ng-model="prPlans.budget" required/>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input class="form-control" type="email" placeholder="Email" ng-model="prPlans.email" required/>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input class="form-control" type="text" placeholder="Name"ng-model="prPlans.name" required/>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <textarea class="form-control" placeholder="Comment" ng-model="prPlans.comment" required></textarea>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button class="btn btn-pink btn-lg btn-enter">Submit</button>
              </div>
            </form>
          </div>
        </div><br><br>
        <div class="row text-center">
          <ul class="list-inline">
            <li><button class="btn btn-pink btn-lg btn-enter" ng-click="openSocialDialog('Soundcloud')">Soundcloud</button></li>
            <li><button class="btn btn-pink btn-lg btn-enter" ng-click="openSocialDialog('Blog Outreach')">Blog Outreach</button></li>
            <li><button class="btn btn-pink btn-lg btn-enter" ng-click="openSocialDialog('Youtube')">Youtube</button></li>
            <li><button class="btn btn-pink btn-lg btn-enter" ng-click="openSocialDialog('Spotify')">Spotify</button></li>
          </ul>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-12 text-center">
            For questions and further assistance (PR inquiries only)<br><br>
            Zach Alden<br>
            <a href="https://www.facebook.com/zalden2" target="_blank">https://www.facebook.com/zalden2</a><br>
            <a href="mailto:zach@peninsulamgmt.com">zach@peninsulamgmt.com</a><br><br>
            Luiz Kupfer<br>
            <a href="https://www.facebook.com/luiztheplug" target="_blank">https://www.facebook.com/luiztheplug</a><br>
            <a href="mailto:luiz@peninsulamgmt.com">luiz@peninsulamgmt.com</a>
            <br><br>
            Rafa Rocha<br>
            <a href="https://www.facebook.com/rafaelroyalx" target="_blank">https://www.facebook.com/rafaelroyalx</a><br>
            <a href="mailto:rafa@peninsulamgmt.com">rafa@peninsulamgmt.com</a>
            <br><br>
          </div>
        </div> 
      </div>
    </div>
  </div>  
</div>     

<ng-include src="'js/home/views/loader.html'"></ng-include>