<ng-include src="'js/artistTools/ArtistTools/header-navigation.html'"></ng-include>
<div id="wrapper">
  <ng-include src="'js/artistTools/ArtistTools/navigation.html'"></ng-include>
  <!-- Content Start  -->
  <div class="container-fluid height-100pr " ng-init="showProfileInfo();getTrackListFromSoundcloud();">
    <div class="row height-100pr">
      <div class="col-lg-12 height-100pr">
        <div class="right-side page-content padding-10"><!--page-contant Start-->
          <div class="col-md-8 col-md-offset-2">
            <div class="row extrapadding">
              <form role="form" ng-submit="saveProfileInfo()">
                <table cellpadding="10" cellspacing="10" width="100%">
                  <tr>
                    <td class="bold">Email:</td>
                    <td>{{profile.data.email}}</td>
                    <td><a href="#" ng-click="openEditProfileModal.editProfile('email')">Edit</a></td>
                  </tr>
                  <!-- <tr ng-if="profile.isAvailable.password">
                    <td class="bold">Password:</td>
                    <td></td>
                    <td><a href="#" ng-click="openEditProfileModal.editProfile('password')">Edit</a></td>
                  </tr> -->
                </table>
              </form>
            </div>
          </div>
          <div class="row" ng-show="!profile.isAvailable.soundcloud">
            <div class="col-sm-4 col-md-offset-1">
              <hr/>
              <div>
                <img src="assets/images/soundcloud-connect-button.png"  ng-click="saveSoundCloudAccountInfo()">
                <p ng-show="message.visible">{{message.value}}</p>
              </div>
            </div>
          </div>
          <br/>
          <!---Third party access-->
          <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <hr/>
              <div class="permanent-links" style="text-align: center;">
                <h4 class="bold">Third Party access</h4>
                <button type="button" class="btn btn-default btn-small" ng-show="!hasThirdPartyFields" ng-click="showThridPartyBox();">Add</button>
                <form name="thirdPartyAcess" ng-show="hasThirdPartyFields" ng-submit="addThirdPartyDetails(thirdPartyInfo)">
                  <input class="form-control" placeholder="Username" type="text" ng-model="thirdPartyInfo.username" required />
                  <br/>
                  <input class="form-control" placeholder="Password" type="text" ng-model="thirdPartyInfo.passwordPlain" required/>
                  <br/>
                  <br/>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-default btn-small">Save</button>
                    <button type="button" class="btn btn-default btn-small" ng-if="user.thirdPartyInfo" ng-click="removeThirdPartyAccess();">Delete</button>
                  </div>
                </form>
                <br/>
                <br/>
              </div>
            </div>
          </div>
          <br> -->
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <hr/>
              <div class="permanent-links" style="text-align: center;">
                <h4 class="bold">Linked Accounts</h4>
                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-pink b-radius-10" ng-click="soundcloudLogin()">Add to list</button>
                </div>
                <div class="space-10"></div>
                <div class="tracks-box" ng-if="userlinkedAccounts.length > 1">
                  <div class="track-item-list" ng-if="account._id != user._id" ng-repeat="account in userlinkedAccounts">
                    <img class="avatar-20"  ng-src="{{account.soundcloud.avatarURL}}">
                    <div class="tracks-title">
                      <a class="tracks-title-name" href="{{permanentLink.url}}" target="_blank">
                       {{' ' + account.soundcloud.username}}</a> 
                       <a class="close-tracks pull-right" href="#"><img src="assets/images/close.png" ng-click="removeLinkedAccount(account)"></a> 
                     </div>
                   </div>
                 </div>  
              <!--   <div ng-if="account._id != user._id" ng-repeat="account in userlinkedAccounts" style="padding:10px; color:#000; text-align: center;">
                  <a href="{{account.soundcloud.permalinkURL}}" target="_blank" style="color:#000;"><img class="avatar" ng-src="{{account.soundcloud.avatarURL}}">
                  {{' ' + account.soundcloud.username}}</a>&nbsp;&nbsp;&nbsp;
                  <a class="close-ic" href="#"><img src="assets/images/close.png" ng-click="removeLinkedAccount(account)"></a> 
                </div> -->                             
              </div>                             
            </div>
          </div>
          <div class="space-10"></div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <hr/>
              <h4 class="bold">Notifications Settings</h4>
            </div>
          </div>
          <!--row end-->
          <div class="row margin-20">
            <div class="col-md-8 col-md-offset-2">
              <div style="text-align: left;">
               <div class="row">
                <div class="row fb-notifications-check-list">
                 <div class="col-md-6">
                  <h5 class="bold">Facebook Messenger Notifications</h5>
                  <div class="fb-send-to-messenger" messenger_app_id="1771378846475599" page_id="499383536933941" color="blue" size="large" data-ref="{{profile.data._id}}">
                  </div>
                  <span ng-if="!!profile.data.notificationSettings.facebookMessenger.messengerID">&#10004 Account linked</span>
                  <br/> <br/>
                  <label class="with-square-checkbox">
                    <input type="checkbox" ng-model="profile.data.notificationSettings.facebookMessenger.tradeRequest" ng-change="saveNotifications()">
                    <span>Trade Request</span>
                  </label>

                  <label class="with-square-checkbox">
                    <input type="checkbox" ng-model="profile.data.notificationSettings.facebookMessenger.tradeAcceptance" ng-change="saveNotifications()">
                    <span>Trade Acceptance</span>
                  </label>

                  <label class="with-square-checkbox">
                    <input type="checkbox" ng-model="profile.data.notificationSettings.facebookMessenger.trackRepost" ng-change="saveNotifications()">
                    <span>Track Repost</span>
                  </label>

                  <label class="with-square-checkbox">
                    <input type="checkbox" ng-model="profile.data.notificationSettings.facebookMessenger.trackUnrepost" ng-change="saveNotifications()">
                    <span>Track Unrepost</span>
                  </label>
<!--                 <label class="with-square-checkbox">
                  <input type="checkbox" ng-model="profile.data.notificationSettings.facebookMessenger.dailyUnfilledTrade" ng-change="saveNotifications()">
                  <span>Unfilled Traded Slots Tomorrow</span>
                </label>
                <br> -->
              </div> 
              <div class="col-md-6">
                <h5 class="bold">Email Notifications</h5>
                <h4>{{profile.data.email}}</h4>
                <br/>
                <label class="with-square-checkbox">
                  <input type="checkbox" ng-model="profile.data.notificationSettings.email.tradeRequest" ng-change="saveNotifications()">
                  <span>Trade Request</span>
                </label>

                <label class="with-square-checkbox">
                  <input type="checkbox" ng-model="profile.data.notificationSettings.email.tradeAcceptance" ng-change="saveNotifications()">
                  <span>Trade Acceptance</span>
                </label>

                <label class="with-square-checkbox">
                  <input type="checkbox" ng-model="profile.data.notificationSettings.email.trackRepost" ng-change="saveNotifications()">
                  <span>Track Repost</span>
                </label>
                
                <label class="with-square-checkbox">
                  <input type="checkbox" ng-model="profile.data.notificationSettings.email.trackUnrepost" ng-change="saveNotifications()">
                  <span>Track Unrepost</span>
                </label>
                
<!--                 <label class="with-square-checkbox">
                  <input type="checkbox" ng-model="profile.data.notificationSettings.email.dailyUnfilledTrade" ng-change="saveNotifications()">
                  <span>Unfilled Traded Slots Tomorrow</span>
                </label> -->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- overlay -->
    <div class="overlay" ng-show="showOverlay">
      <div class="label-scheduler label-smaller slot-box">
        <span style="font-size:1.25em">{{makeEvent.day.toLocaleDateString()}}     {{(makeEvent.day.getHours()%12==0?12:makeEvent.day.getHours()%12)+(makeEvent.day.getHours()<=11?"AM":"PM")}}</span>
        <br>
        <br>
        <input type="checkbox" ng-model="makeEvent.type" ng-true-value="'queue'" ng-false-value="'track'" ng-change="changeQueueSlot()" /><span> Autofill Slot</span>
        <br>
        <br>
        <input type="checkbox" ng-model="makeEvent.unrepost" ng-change="changeUnrepost()" /><span> Unrepost after 24h</span>
        <br>
        <div ng-hide="(makeEvent.type == 'queue')">
          <input type="text" class="form-control form-scheduler" style="width:400px; text-align: center" ng-model="makeEventURL" ng-change="changeURL()" placeholder="Soundcloud Track Url" />
        </div>
        <select class="form-control form-scheduler" ng-model="trackListSlotObj" ng-options="item.title for item in trackList" style="text-align:center; width:300px; max-width:90%;" ng-change="trackChange()">
          <option value="" ng-disabled="!!trackListSlotObj" ng-show="trackList.length > 0">-My Songs-</option>
        </select>
        <div id='scPlayer' ng-show="makeEvent.trackID"></div>
        <br>
        <div>
          <button class="btn btn-default btn-small btn-overlay" ng-click="backEvent()">Back</button>
          <button class="btn btn-default btn-small btn-overlay" ng-click="deleteEvent()" style="margin:0 30px 0 30px;">Delete</button>
          <button class="btn btn-default btn-small btn-overlay" ng-click="saveEvent()">Save</button>
          <br>
          <br>
          <button ng-click="emailSlot()" style="border:none; background-color:rgba(0,0,0,0);"><img src='assets/images/email_icon.png' style="height:30px; width:50px;"></button>
        </div>
      </div>
      <div style="position:absolute; top:0; left:0; right:0; height:5000px; background-color: rgba(0,0,0,1); z-index: 1000;" ng-show="hideall">
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Content End  -->
<ng-include src="'js/home/views/loader.html'"></ng-include>
<script type="text/ng-template" id="editProfile.html">
  <form role="form" ng-submit="$parent.saveProfileInfo()">
    <div class="modal-header">
      <div class="form-group" ng-show="$parent.profile.field === 'name'">
        <input type="text"  class="form-control" ng-model="$parent.profile.data.name" placeholder="Name"  />
      </div>
      <div class="form-group" ng-show="$parent.profile.field === 'password'">
        <input type="text" class="form-control" ng-model="$parent.profile.data.password" placeholder="Password"  />
      </div>
      <div class="form-group" ng-show="$parent.profile.field === 'email'">
        <input type="text" class="form-control" ng-model="$parent.profile.data.email" placeholder="Email"  />
      </div>
      <div class="form-group" ng-show="$parent.message.visible">
        {{$parent.message.value}}
      </div>
    </div>
    <div class="modal-body">
      <button class="btn btn-success" type="submit">Save</button>
      <button class="btn btn-warning" type="button" ng-click="$parent.closeEditProfileModal()">Close</button>
    </div>
  </form>
</script>
<script>
  setTimeout(function(){
    FB.init({appId: "1771378846475599", xfbml: true, version: "v2.6" });
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; } 
      js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));  }
    ,500);      
  </script>